# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Node / Next.js
node_modules/
.next/
out/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# ngrok
ngrok.yml

# Misc
*.log
cd/
